.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    position: fixed;
        top: 0;
        right: 0;
        left: 0;

    height: 60px;
    background-color: white;
    flex-direction: row;
    z-index: 100;
    
}
.first-section{
    display: flex;
    align-items: center;
    width: 150px;
    
}
.menu-icon{
    margin-right: 24px;
    margin-left: 24px;
    height: 24px;
    cursor: pointer;
}
.logo{
    height: 24px;
  
    cursor: pointer;
}

.second-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    width: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.search-bar::placeholder{
    color: gray;
    font-size: 16px;
    padding-left: 2px;
    font-family: 'Roboto', arial;
}
.search-bar:focus{
    outline: none;
    border: 1px solid gray;
}
.search-bar-btn{
    background-color: #f8f8f8;
    border: 1px solid lightgray;
    height: 42px;
    width: 66px;
    margin-top: 1px;
    margin-left: -1px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    margin-right:10px; 
    position: relative;
    
}
.search-bar-btn .tooltip {
    position: absolute;
    bottom: -40px;
         left: 50%; 
         transform: translateX(-50%);
        width: 100%;
        background-color: gray;
        padding:6px 4px;
        border-radius: 2px;
        color: white;
        font-family: 'Roboto', arial;
        font-size: 13px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;

}
.search-bar-btn:hover .tooltip {
    opacity: 1;
}
.search-icon   {
    margin-top: 4px;
    height: 25px;
    cursor: pointer;
}
.mic-icon-btn{
     height: 40px;
    width: 40px;
    background-color: #f8f8f8;;
    border: none;
    border-radius: 20PX;
    cursor: pointer;
    
}
/* its a comment take care rabbit */
.mic-icon{
    margin-top: 4px;
    height: 25px;
    cursor: pointer;
}



.third-section{
  width: 180px;
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;

}


.upload-icon-container{  
      position: relative;

}
.upload-icon {
    width: 24px;
    cursor: pointer;
}
.upload-icon-container .tooltip {
  position: absolute;
    bottom: -40px;
        left: 50%; 
         transform: translateX(-50%);

        background-color: gray;
        padding:6px 4px;
        border-radius: 2px;
        color: white;
        font-family: 'Roboto', arial;
        font-size: 13px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
        white-space:nowrap ;
        
}
    .upload-icon-container:hover .tooltip {
    opacity: 1;
}
.youtube-apps-icon {
    width: 24px;
   
    cursor: pointer;
}
.notifications-icon {
    width: 24px;
    cursor: pointer;
}
.profile-picture{
   
    height: 34px;
    cursor: pointer;
    border-radius: 17px;
    
}
.notifications-icon-container{
    position: relative;

}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(205, 27, 27);
    color: white;
    font-family: 'Roboto', arial;
    font-size: 11px;
    padding: 2PX 5PX;
    border-radius:10PX; 
    font-weight: 500;
   
    
}

