body{
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}

.search-bar{
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: block;
}
.search-bar:focus{
    outline: none;
    border: 1px solid gray;
}

.video-preview{
      width: 300px; 
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
      
      
      
}

.thumbnail{
    width: 300px; 
  display: block;
  margin-top: 10px;
}
.video-title{
    font-size: 14px;
    width: 300px;
    font-weight: bold;
    
    
}
.video-author{
    color: gray;
    font-size: 12px;
    
}
.video-stats{
    color: gray;
    font-size: 12px;
    margin-top: -10px;
    
}



