p{
    margin: 0;
    font-family: 'Roboto', arial;
}

.search-bar{
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: block;
}
.search-bar:focus{
    outline: none;
    border: 1px solid gray;
}

.thumbnail{
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
}

.video-title{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
}
.video-author{
    color: rgb(96, 96, 96);
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 4px;
}
.video-stats{
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.channel-logo-container{
   width: 50px;
   display: inline-block;
   vertical-align: top;
}
.video-info{
   display: block;
}

.channel-logo{
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 8px;
   
}


.video-preview-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}


.video-preview{
    width: 100%;
}